
@keyframes background-animation{
    0% {
        background-size: 50%;
        background-position: 0;
        
    }
    50% {
        background-size: 55%;
        background-position: -200px;

    }
    100% {
        background-size: 50%;
        background-position: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes translate {
    0% {
        transform:translateY(0);
    }
    50% {
        transform:translateY(-50px);
    }
    100% {
        transform:translateY(0);
    }
}